# Defaults provided by Android Studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Remove all of the IntelliJ IDEA extras (aim to be IDE independent)
.idea/
*.iml

# Temporary files
*.swp*
~*
*~
